<!DOCTYPE html>
<html>

<head>
  <title>{{page.title}}</title>
  <link href="styles/{{page.stylesheet}}" rel="stylesheet" type="text/css" />
</head>

<body>
  <textarea id="source">
name: title-light
class: center, middle
layout: true
---
name: title-white
class: center, middle, white
layout: true
---
name: title-black
class: center, middle, black
layout: true
---
name: list-dark
class: list, inverse
layout: true
---
name: title-dark
class: center, middle, inverse
layout: true
---
{% include {{ page.filename }} %}
  </textarea>
  <script src="https://remarkjs.com/downloads/remark-latest.min.js"></script>
  <!-- <script src="{{  site.baseurl  }}/scripts/remark-latest.min.js"></script> -->
  <script>
    var slideshow = remark.create({
      ratio: "16:9",
      slideNumberFormat: "", // Use %current% and %total%
      cloneTarget: "_blank", // This probably sets where to open when "c" is pressed, but not sure
      navigation: {
        scroll: false,
        touch: true,
        click: false,
      },
      // Code highlighting options:
      // highlightStyle: "monokai",
      // highlightLines: true,
      // highlightSpans: true,
      // highlightInlineCode: true,
      // highlightLanguage: "javascript",
    });
  </script>
</body>

</html>
