---
---

@charset "utf-8";

/* Fonts */
$bodyFont: 'Roboto', sans-serif;
$titleFont: 'Rubik', sans-serif;
$quoteFont: 'Vollkorn', serif;
$codeFont: 'Ubuntu Mono', monospace;

/* Colors */
$black: #000;
$dark: #010326;
$medium: #364A73;
$light: #F2D6B3;
$white: #FFF;
$accent1: #BF6517;
$accent2: #8C0303;
$twitter: #1DA1F2;
$instagram: #E1306C;
/* Source: https://color.adobe.com/red-eyes-wolf-color-theme-1114852 */

/* Regular color scheme */

body {
  background-color: $dark;
  color: $dark;
  font-family: $bodyFont;
  font-weight: 400;
}

.remark-slides-area {
  background-color: $dark;
}

.remark-slide-scaler {
  -moz-box-shadow: 0 0 30px $medium;
  -webkit-box-shadow: 0 0 30px $medium;
  box-shadow: 0 0 30px $medium;
}

.remark-slide-content {
  background-color: $light;
}

h1, h2, h3 {
  font-family: $titleFont;
  font-weight: 700;
}

h1 em, h2 em, h3 em { color: $accent2 }

h1 strong, h2 strong, h3 strong {
  font-weight: inherit;
  color: $accent2
}

.remark-slide-content h1 { font-size: 3.2em; }
.remark-slide-content h2 { font-size: 2em; }
.remark-slide-content h3 { font-size: 1.4em; }

a { color: $accent1 }

blockquote {
  font-family: $quoteFont;
  font-size: 2em;
  font-weight: 400;
}

blockquote a {
  color: inherit;
  text-decoration: inherit;
}

code {
  font-family: $codeFont;
}

.footnote, .footnote a {
  padding: 0.1em 0.5em;
  width: 100%;
  position: absolute;
  background-color: $dark;
  color: $light !important;
  bottom: 0em;
  right: 0em;
  z-index: 2;
  text-align: right;
  text-decoration: none;
}

.inverse .footnote, .inverse .footnote a {
  background-color: $light;
  color: $dark !important;
}

.black .footnote, .black .footnote a {
  background-color: $light;
  color: $black !important;
}

.footnote .twitter, .footnote .twitter a {
  background-color: $twitter;
  color: $white !important;
}

.footnote .instagram, .footnote .instagram a {
  background-color: $instagram;
  color: $white !important;
}

blockquote {
  text-align: left;
}

blockquote .source {
  float: right;
  font-size: 67%;
}

.light {
  font-weight: 400;
}

.accent {
  color: $accent2
}

.twitter, .twitter a {
  color: $twitter;
}

.title {
  font-variant: small-caps;
}

.large {
  font-size: 125%;
}

.larger {
  font-size: 150%;
  // vertical-align: middle;
}

.largest {
  font-size: 200%;
  // vertical-align: middle;
}

/* Color lists one-by-one */

.list.inverse h2 {
  color: $medium;
}

.list.inverse h2:last-of-type {
  color: $light;
}

/* Inverse color scheme*/

.inverse {
  background-color: $dark;
  color: $light;
}

/*  White coulour scheme */
.white, iframe {
  background-color: $white;
  color: dark;
}

/*  Black coulour scheme */
.black {
  background-color: $black;
  color: $light;
}

/* images overlay */
.imageWrapper {
  position: relative;
}

.overlayImage {
  position: absolute;
  top: 0;
  left: 0;
  height:100%;
  width:100%;
}

/* Notes area */
.remark-notes strong{
  color: $accent2
}
