---
---

@charset "utf-8";

/* Fonts */
$bodyFont: 'Roboto', sans-serif;
$titleFont: 'Rubik', sans-serif;
$quoteFont: 'Vollkorn', serif;
$codeFont: 'Ubuntu Mono', monospace;

/* Colors */
$dark: #010326;
$medium: #364A73;
$light: #F2D6B3;
$accent: #8C0303;
/* Source: https://color.adobe.com/red-eyes-wolf-color-theme-1114852 */

/* Regular color scheme */
body {
  background-color: $dark;
  color: $dark;
  font-family: $bodyFont;
  font-weight: 400;
}

.remark-slides-area {
  background-color: $dark;
}

.remark-slide-scaler {
  -moz-box-shadow: 0 0 30px $medium;
  -webkit-box-shadow: 0 0 30px $medium;
  box-shadow: 0 0 30px $medium;
}

.remark-slide-content {
  background-color: $light;
}

h1, h2, h3 {
  font-family: $titleFont;
  font-weight: 700;
}

h1 em, h2 em, h3 em { color: $accent }

h1 strong, h2 strong, h3 strong {
  font-weight: inherit;
  color: $accent
}

.remark-slide-content h1 { font-size: 3.2em; }
.remark-slide-content h2 { font-size: 2em; }
.remark-slide-content h3 { font-size: 1.4em; }

a { color: $accent }

code {
  font-family: $codeFont;
}

.light {
  font-weight: 400;
}

.accent {
  color: $accent
}

.title {
  font-variant: small-caps;
}

.large {
  font-size: 125%;
}

.larger {
  font-size: 150%;
}

.largest {
  font-size: 200%;
}

/* Quotes */
blockquote {
  font-family: $quoteFont;
  font-size: 2em;
  font-weight: 400;
  text-align: left;
}

blockquote a {
  color: inherit;
  text-decoration: inherit;
}

blockquote .source {
  float: right;
  font-size: 67%;
}

/* Footnotes */
.footnote, .footnote a {
  padding: 0.1em 0.5em;
  width: 100%;
  position: absolute;
  background-color: $dark;
  color: $light !important;
  bottom: 0em;
  right: 0em;
  z-index: 2;
  text-align: right;
  text-decoration: none;
}

.footnote .inverse, .footnote .inverse a {
  background-color: $light;
  color: $dark !important;
}

.footnote .black, .footnote .black a {
  background-color: $light;
  color: #000 !important;
}

.footnote .twitter, .footnote .twitter a {
  background-color: #1DA1F2;
  color: #FFF !important;
}

.footnote .instagram, .footnote .instagram a {
  background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
  /* Source: http://www.brandgradients.com/instagram-colors/ */
  color: #FFF !important;
}

/* Color titles one-by-one */
.inverse h1, .inverse h2 {
  color: $medium;
}

.inverse h1:last-of-type, .inverse h2:last-of-type {
  color: $light;
}

/* Inverse color scheme*/
.inverse {
  background-color: $dark;
  color: $light;
}

/*  White coulour scheme */
.white, iframe {
  background-color: #FFF;
  color: dark;
}

/*  Black color scheme */
.black {
  background-color: #000;
  color: $light;
}

/* Images overlay */
.imageWrapper {
  position: relative;
}

.overlayImage {
  position: absolute;
  top: 0;
  left: 0;
  height:100%;
  width:100%;
}

/* Notes area */
.remark-notes strong{
  color: $accent
}
