---
---

@charset "utf-8";

// @import url(https://fonts.googleapis.com/css?family=Roboto);
// @import url(https://fonts.googleapis.com/css?family=Rubik);
// @import url(https://fonts.googleapis.com/css?family=Vollkorn);
// @import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono);

@font-face{
  font-family: 'Roboto';
  src: url('{{ site.baseurl }}/fonts/Roboto/Roboto-Regular.ttf');
}
@font-face{
  font-family: 'Roboto';
  src: url('{{ site.baseurl }}/fonts/Roboto/Roboto-Bold.ttf');
  font-weight: bold;
}
@font-face{
  font-family: 'Roboto';
  src: url('{{ site.baseurl }}/fonts/Roboto/Roboto-Italic.ttf');
  font-style: italic;
}
@font-face{
  font-family: 'Roboto';
  src: url('{{ site.baseurl }}/fonts/Roboto/Roboto-BoldItalic.ttf');
  font-weight: bold;
  font-style: italic;
}
@font-face{
  font-family: 'Rubik';
  src: url('{{ site.baseurl }}/fonts/Rubik/Rubik-Regular.ttf');
}
@font-face{
  font-family: 'Rubik';
  src: url('{{ site.baseurl }}/fonts/Rubik/Rubik-Bold.ttf');
  font-weight: bold;
}
@font-face{
  font-family: 'Rubik';
  src: url('{{ site.baseurl }}/fonts/Rubik/Rubik-Italic.ttf');
  font-style: italic;
}
@font-face{
  font-family: 'Rubik';
  src: url('{{ site.baseurl }}/fonts/Rubik/Rubik-BoldItalic.ttf');
  font-weight: bold;
  font-style: italic;
}
@font-face{
  font-family: 'Vollkorn';
  src: url('{{ site.baseurl }}/fonts/Vollkorn/Vollkorn-Regular.ttf');
}
@font-face{
  font-family: 'Vollkorn';
  src: url('{{ site.baseurl }}/fonts/Vollkorn/Vollkorn-Bold.ttf');
  font-weight: bold;
}
@font-face{
  font-family: 'Vollkorn';
  src: url('{{ site.baseurl }}/fonts/Vollkorn/Vollkorn-Italic.ttf');
  font-style: italic;
}
@font-face{
  font-family: 'Vollkorn';
  src: url('{{ site.baseurl }}/fonts/Vollkorn/Vollkorn-BoldItalic.ttf');
  font-weight: bold;
  font-style: italic;
}
@font-face{
  font-family: 'Ubuntu Mono';
  src: url('{{ site.baseurl }}/fonts/Ubuntu_Mono/UbuntuMono-Regular.ttf');
}
@font-face{
  font-family: 'Ubuntu Mono';
  src: url('{{ site.baseurl }}/fonts/Ubuntu_Mono/UbuntuMono-Bold.ttf');
  font-weight: bold;
}
@font-face{
  font-family: 'Ubuntu Mono';
  src: url('{{ site.baseurl }}/fonts/Ubuntu_Mono/UbuntuMono-Italic.ttf');
  font-style: italic;
}
@font-face{
  font-family: 'Ubuntu Mono';
  src: url('{{ site.baseurl }}/fonts/Ubuntu_Mono/UbuntuMono-BoldItalic.ttf');
  font-weight: bold;
  font-style: italic;
}
