---
---

@charset "utf-8";

/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Rubik:400,400i,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,400i,700);
@import url(https://fonts.googleapis.com/css?family=Vollkorn:400,400i,700);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700);

$bodyFont: 'Roboto', sans-serif;
$titleFont: 'Rubik', sans-serif;
$quoteFont: 'Vollkorn', serif;
$codeFont: 'Ubuntu Mono', monospace;

/* Colours */
$black: #000;
$darkest: #273E47;
$dark: #416675;
$medium: #BD632F;
$light: #D8973C;
$lightest: #D8C99B;
$white: #FFF;
$accent: #BB1E10;
$twitter: #1da1f2;

/* Regular colour scheme */

body {
  background-color: $darkest;
  color: $darkest;
  font-family: $bodyFont;
  font-weight: 400;
}

.remark-slides-area {
  background-color: $darkest;
}

.remark-slide-scaler {
  -moz-box-shadow: 0 0 30px $lightest;
  -webkit-box-shadow: 0 0 30px $lightest;
  box-shadow: 0 0 30px $lightest;
}

.remark-slide-content {
  background-color: $lightest;
}

h1, h2, h3 {
  font-family: $titleFont;
  font-weight: 700;
}

h1 em, h2 em, h3 em { color: $accent; }

h1 strong, h2 strong, h3 strong {
  font-weight: inherit;
  color: $accent;
}

.remark-slide-content h1 { font-size: 3.2em; }
.remark-slide-content h2 { font-size: 2em; }
.remark-slide-content h3 { font-size: 1.4em; }

a { color: $accent; }

blockquote {
  font-family: $quoteFont;
  font-size: 2em;
  font-weight: 400;
}

blockquote a {
  color: inherit;
  text-decoration: inherit;
}

code {
  font-family: $codeFont;
}

.footnote, .footnote a {
  padding: 0.1em 0.5em;
  width: 100%;
  text-align: right;
  position: absolute;
  background-color: $accent;
  color: $lightest !important;
  bottom: 0em;
  right: 0em;
}

.footnote .twitter, .footnote .twitter a{
  background-color: $twitter;
}

.inverse .footnote, .inverse .footnote a {
  color: $darkest !important;
}

.black .footnote, .black .footnote a {
  color: $black !important;
}

.accent {
  color: $accent;
}

.twitter, .twitter a {
  color: $twitter;
}

.title {
  font-variant: small-caps;
}

/* Colour lists one-by-one */

.list.inverse h2 {
  color: $dark;
}

.list.inverse h2:last-of-type {
  color: $lightest;
}

/* Inverse colour scheme*/

.inverse {
  background-color: $darkest;
  color: $lightest;
}

/*  White coulour scheme */
.white, iframe {
  background-color: $white;
  color: $dark;
}

/*  Black coulour scheme */
.black {
  background-color: $black;
  color: $darkest;
}

/* images overlay */
.imageWrapper {
  position: relative;
}

.overlayImage {
  position: absolute;
  top: 0;
  left: 0;
  height:100%;
  width:100%;
}
